body{
    background-color: whitesmoke;
    margin: 0px;
}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content {
    display: flex;
    background-size: cover;
    height: 700px;
    width: 100%;
    flex-direction: column;
    background-image:url(/images/fondo2.jpg);
    background-attachment: fixed;
    
}

.content_2 {
    display: flex;
    
    height: 900px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
    
}

.content_3 {
    display: flex;
    
    height: 1000px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.squares_1_images{
    height: 300px;
}
.title_text{
    display:flex;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 200px;
}
.squares_1_horizontal{
    display: flex;
    align-items: flex-start;
    
    padding-left: 200px;
}
.squares_1_vertical{
    display: flex;
    flex-direction: column;
    max-width: 490px;
    padding-right: 25px;
}
.squares_1_title{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.squares_1_type{
    
 
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.squares_1_desc{
    
    text-justify: distribute;
    margin-top: 5px;
    margin-bottom: 5px;
}
.squares_1_seeRecipe{
    color:rgb(170, 127, 74);
    border:solid 2px;
    border-radius: 50px;
    border-color: rgb(170, 127, 74) ;
    padding: 5px 20px;
    margin-top: 0px;
    width: 75px;
    
}
    

header {
    margin-top: 30px;
    display: flex;
    background-color: bisque;
    height: 50px;
    width: 100%;
    align-items: center;
    border-top:solid 1px;
    border-bottom:solid 1px;
    border-color: black;
}
footer{
    display: flex;
    height: 75px;
    background-color: whitesmoke;
    align-items: center;
    
}
nav {
    gap: 100px;
}
.center_part {
    display: flex;
    height: 700px;
    
    align-items: center;
    padding-left: 15%;
    
}
.center_part_text {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding-right: 350px;
    
    
}
.center_part_image {
    height: 200px;

}
.center_part_text_1{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    
}
.center_part_text_2{
    font-size: 60px;
    font: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}
.center_part_text_3{
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.center_part_text_4{
    color:rgb(170, 127, 74);
    border:solid 2px;
    border-radius: 50px;
    border-color: rgb(170, 127, 74) ;
    padding: 5px 20px ;
    margin-top: 0px;
    
    
}

.div_margin_header{
    margin-left: 10px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
}

.div_margin_footer{
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
}
.div_margin_footer_gray{
    margin-left: 80px;
    margin-right: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: gray;
}

.div_margin{
    margin-left: 10px;
    margin-right: 10px;

}

.user_icon {
    height: 49px;
    width: auto;
    margin-top: 3px;
    margin-right: 10px;
}

.logo_margin {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

.top_menu_long {
    flex-grow: 2;
}


.mail_subscription_box{
    display: flex;
    margin-left: 200px;
    color:black;
    background-color:rgb(186, 110, 16) ;
    border: solid 0px;
    border-radius: 30px;
    border-color: rgb(186, 110, 16) ;
    width: 1000px;
    height: 150px;
    margin-top: 40px;
    align-items: center;
}
#mail_subscription_box_div{
    
    margin-left: 50px;
    flex-grow: 2;
}

#mail_subscription_box_title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight:500;
}

#mail_subscription_box_text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mail_subscription_box_button{
    border:solid 2px;
    border-radius: 50px;
    border-color: antiquewhite;
    width:200px;
    margin-right: 150px;
    height: 50px;
    align-items: center;
    
}

#mail_subscription_box_button_links{
   margin-top: 10px; 
   margin-left: 50px;
}
.mail_subscription_box_button_links_text{
    margin-right: 15px;
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .squares_2_horizontal{
    display: flex;
    align-items: flex-start;
    padding-left: 200px;
 }
 .squares_2_horizontal_top_gap{
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 200px;
 }
